@import "generales";
@import "nav";
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
$--blanco:#ffffff;
$--negro: #212121;
$--primario: #FFC107;
$--gris: #757575;
$--secundario: #0097A7;
$--grisClaro: #DFE9F3;
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub',sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
h1{
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem; 
}
.w100{
    width: 100%;
}
@media (min-width: 768px) {
   .w100{
       width: auto;
   }
}
.flex{
    display: flex;
}
.alinearDerecha{
    justify-content: flex-end;
}
@media (min-width: 0px) {
    .navegadorBackground{
        margin-left: 8rem;
        margin-right: 8rem;
        margin-bottom: 2rem;
        border-radius: 7%;
    }
 }
 @media (min-width: 768px) {
    .navegadorBackground{
        margin: unset;
        border-radius: 0%;
    }
 }
.navegadorBackground{
    background-color: var(--secundario);
}
.navs{
    margin-bottom: 1rem;
}
.contenedor{
    width: 75%;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;

    &input[type="submit"]{
        margin-top: 5rem;
    }
}
 
@media (min-width: 768px) {
   .boton{
       width: auto;
   }
}
.boton:hover{
    cursor: pointer;
}
.sombra{
    -webkit-box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 10px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.navegacionPrincipal{
   display: flex;
   flex-direction: column;
   align-items: center;
}
@media (min-width: 768px) {/*Tablet*/
    .navegacionPrincipal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacionPrincipal a{
   color: var(--blanco);
   text-decoration: none;
   font-size: 2rem;
   font-weight: bold;
   padding: 1rem;
}
.navegacionPrincipal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}
.hero{
    background-image: url(../img/entrada.JPG);
    background-repeat: no-repeat;
    height: 45rem;
    position: relative;
    margin-bottom:.5rem;
    background-size: 100%;
}
.contenidoHero{
    position: absolute;
    background-color: rgba( 0,0,0, .7);
    width: 100%;
    background-size: 100%;
    height: 41.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenidoHero h2,.contenidoHero p{
    color: var(--blanco);
}

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);/*33.3% 3 veces*/
        column-gap: 1rem;
    }
}

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);/*Utilizar el valor mas chico*/
    margin: 0 auto;/*Siempre que tengo un elemento como un formulario ya que el padre no tiene un display flex*/
    padding: 1.5rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedorCampos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem;
    }
    .campo:nth-child(3),.campo:nth-child(4){
        grid-column: 1 / 3;
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 20rem;
}
.inputText{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.enviar .boton{
    width: 100%;
}
.footer{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.parteSuperior{
    width: 100%;
}
/*NOSOTROS*/

@media (min-width: 768px) {
    .historia{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
}
.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacion h3{
    color: var(--secundario);
    font-weight: normal;
}
.informacion p{
    line-height: 2;
    text-align: justify;
}
p span{
    font-weight: bold;
}
img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 10%;
}
.historia .info1{
    margin-bottom: auto;
}
.historia .info2{
    margin-top: 2rem;
}

/*CONTACTO*/

.contactBorde{
    display: flex;
    align-items: center;
    justify-content: center;
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
}
.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
.navsC{
    margin-bottom: unset;
    position: relative;
    top: 1rem;
}
@media (min-width: 768px) {
   .navsC{
       position: relative;
       top: unset;
   }
}
.casasClientes{
    display: flex;
    flex-direction: column;
}
.imgcancel{
    max-width: 100%;
    max-height: 100%;
    border-radius: 0%;
    width: 100%;
    
}
.flexbar{
    display: flex;
    justify-content: center;
}